[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-restful = "*"
flask-migrate = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-marshmallow = "*"
psycopg2 = "*"
factory-boy = "*"
coverage = "*"
beautifulsoup4 = "*"
fake-useragent = "*"
sqlalchemy-utils = "*"
httpx = "*"
lxml = "*"
selenium = "*"

[dev-packages]

[requires]
python_version = "3.7"
