[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
beautifulsoup4 = "*"
blinker = "*"
bokeh = "*"
certifi = "*"
chardet = "*"
click = "*"
dominate = "*"
fake-useragent = "*"
idna = "*"
itsdangerous = "*"
numpy = "*"
pyparsing = "*"
python-dateutil = "*"
python-editor = "*"
requests = "*"
six = "*"
soupsieve = "*"
tornado = "*"
urllib3 = "*"
visitor = "*"
Flask = "*"
Flask-Bootstrap = "*"
Flask-Login = "*"
Flask-Mail = "*"
Flask-Migrate = "*"
Flask-Moment = "*"
Flask-Script = "*"
Flask-SQLAlchemy = "*"
Flask-WTF = "*"
Jinja2 = "*"
Mako = "*"
MarkupSafe = "*"
Pillow = "*"
PyYAML = "*"
SQLAlchemy = "*"
Werkzeug = "*"
WTForms = "*"

[dev-packages]

[requires]
python_version = "3.7"
